.toggle-comments{
    cursor: pointer;
    font-size: 18px;
}
.comments-box{
    display: none;
    height: 90%;
    
}
.comment-input{
    width: 80%;
    margin: auto;
    margin-bottom: 20px;
}

.comment-input input{
    width: 100%;
    margin: auto;
}
.comments{
    width: 80%;
    border-radius: 5px;
    border: .5px solid rgb(218, 218, 218);
    margin: auto;
    margin-bottom: 20px;
}

.comments p, h6, span{
    margin: 10px;
}



.comments p{
    font-size: 14px;
}

